<div class="cibil-alerts-section">
  <div class="page-width">
    <div class="page-inner-container cibil-alerts-section__wraper">
      <p class="section-heading blue">{{ .section_heading }}</p>
  
      {{ partial "cta-feature" (dict "image_alignment" "image-right" "feature_title" "ALerts on multi platform" "feature_description" "Get alerts via Email, SMS and App" "button" "Upgrade to view alerts" "button_link" "#" "image_path" "images/static-images/multiplatform.png")}}
  
      {{ partial "cta-feature" (dict "image_alignment" "image-left" "feature_title" "Alerts on changes to your credit profile " "feature_description" "Track changes in your personal details, CIBIL Score, and credit utilization." "button" "Upgrade to view alerts" "button_link" "#" "image_path" "images/static-images/credit-profile-changes.png")}}
  
      {{ partial "cta-feature" (dict "image_alignment" "image-right" "feature_title" "Alerts on enquiries" "feature_description" "Track and identify any unwanted enquiries being made" "button" "Upgrade to view alerts" "button_link" "#" "image_path" "images/static-images/enquiries.png")}}
  
    </div>
  </div>
</div>
