<div class="banner-section">
  <div class="page-width">
    <div class="page-inner-container banner-section__wraper">
      <div class="left-side">
        <p class="username banner-heading">Hi Rahul,</p>
        <p class="banner-heading">
            <span class="highlight">321 days</span> till your next refresh.<br>
            <span class="highlight">Upgrade now</span> and always be credit-ready.
        </p>
      </div>
      <div class="right-side">
        <div class="img-container">
          <img src="{{ "images/static-images/banner-image.png" | relURL }}"
          alt="">
        </div>
      </div>
    </div>
  </div>
</div>
