<div class="nav-list">
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/home-icon"}}</span><span>Overview</span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/report-icon"}}</span><span>CIBIL Report</span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/offers-icon"}}</span><span>Loan Offers</span><span class="notify-circle"><span>24</span></span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/repayment-icon"}}</span><span>Repayment Option</span></a>
    <a href="" class="nav-item active"><span class="svg-icon-box">{{partial "icons/alerts-icon"}}</span><span>Alerts</span><span class="notify-circle"><span>4</span></span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/simulator-icon"}}</span><span>Score Simulator</span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/education-icon"}}</span><span>Credit Education</span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/upgrade-icon"}}</span><span>Upgrade My Plan</span></a>
</div>