//CTA Features
.cta-feature {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side {
      .feature-title {
        font-weight: $intro-bold;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .cibil-button {
        margin-top: 20px;
      }
    }
    .right-side {
      padding: 30px 40px 30px 0px;
      position: relative;
      .img-container {
        z-index: 1;
        position: relative;
        img{
            width: 100%;
        }
      }
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../images/static-images/dotted-bg.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 0;
      }
    }
  }
  &.image-left{
    .cta-feature__wraper{
        flex-direction: row-reverse;
        .right-side{
            padding: 30px 0px 30px 40px;
            &::after{
                right: 0;
                left: -20px;
            }
        }
    }
  }
  @include media-breakpoint-up(lg){
    &__wraper{
        .left-side, .right-side{
            max-width: 346px;
        }
    }
  }
  @include media-breakpoint-down(lg){

  }
}
