//CTA Features
.cta-feature {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side {
      .feature-title {
        font-weight: $intro-bold;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .desc {
        margin-bottom: 0px;
      }
      .cibil-button {
        margin-top: 20px;
      }
    }
    .right-side {
      padding: 30px 40px 30px 0px;
      position: relative;
      .img-container {
        z-index: 1;
        position: relative;
        img {
          width: 100%;
        }
      }
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../images/static-images/dotted-bg.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 0;
      }
    }
  }
  &.image-left {
    .cta-feature__wraper {
      flex-direction: row-reverse;
      .right-side {
        padding: 30px 0px 30px 40px;
        &::after {
          right: 0;
          left: -20px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__wraper {
      .left-side,
      .right-side {
        max-width: 346px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      height: 1px;
      width: 100px;
      background-color: $border-color-1;
      position: absolute;
      bottom: 0;
      left: calc(50% - 50px);
    }
    &:not(:last-child) {
      margin-bottom: 60px;
    }
    &__wraper {
      flex-direction: column-reverse !important;
      .left-side {
        text-align: center;
        .feature-title {
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
      .right-side,
      .left-side {
        padding: 0 !important;
        &::after {
          height: 119px;
          max-width: 154px;
          background-image: url(../images/static-images/dotted-bg-mob.png);
          right: -20px !important;
          top: -20px !important;
          left: inherit !important;
          background-size: cover;
        }
      }
    }
  }
}

//FAQ section
.faq {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid $border-color-2;
  .faq-heading {
    box-shadow: none;
    font-weight: $intro-regular;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    .faq-title {
      position: relative;
      padding-left: 0px;
      letter-spacing: 0.02em;
      padding-top: 30px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      font-weight: $intro-regular;
      &[aria-expanded="false"] {
        padding-bottom: 30px;
      }
      &:before {
        content: "";
        height: 10px;
        width: 10px;
        position: absolute;
        right: 0px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &:not(.show) {
      .faq-title {
        &:before {
          background-image: url(../images/static-images/plus.svg);
        }
      }
    }
    &.show {
      .faq-title {
        &:before {
          background-image: url(../images/static-images/minus.svg);
        }
      }
    }
  }
  .faq-content {
    padding: 0px 0px 30px;
    background: transparent;
    border: none;
    letter-spacing: 0.02em;
    ul {
      margin-bottom: 0px;
      li {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        position: relative;
        padding-left: 26px;
        margin-bottom: 0px;
        &:before {
          content: "";
          position: absolute;
          left: 5px;
          top: 8px;
          height: 4px;
          width: 4px;
          background: $dark;
          border-radius: 100%;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    .faq-content {
      max-width: calc(100% - 96px);
    }
  }
  @include media-breakpoint-down(md){
    &:last-child{
      border-bottom: 0;
    }
    .faq-heading{
      .faq-title{
        padding-top: 16px;
        &[aria-expanded="false"] {
          padding-bottom: 16px;
        }
      }
    }
    .faq-content{
      padding-bottom: 20px;
    }
  }
}
