.cibil-alerts-section{
    background-color: $light-blue;
    padding-top: 60px;
    padding-bottom: 60px;
    .section-heading{
        margin-bottom: 40px;
    }
    @include media-breakpoint-down(md){
        background-color: $light;
        padding-top: 30px;
        padding-bottom: 40px;
        .section-heading{
            margin-bottom: 47px;
        }
    }
}