<!-- Data table -->
{{.Inner}}
<table>
    <tr>
        <th>DPD</th>
        <th>Denotes</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <th>STD</th>
        <td>Standard</td>
        <td>Payments are being made within 90 days</td>
    </tr>
    <tr>
        <th>SMA</th>
        <td>Special Mention Account</td>
        <td>Special account created for reporting standard account, moving towards Sub-Standard</td>
    </tr>
    <tr>
        <th>SUB</th>
        <td>Sub-Standard</td>
        <td>Payments are being made after 90 days</td>
    </tr>
    <tr>
        <th>DBT</th>
        <td>Doubtful</td>
        <td>The account has remained a Sub-Standard account for a period of 12 months</td>
    </tr>
    <tr>
        <th>LSS</th>
        <td>Loss</td>
        <td>An account where loss has been identified and remains uncollectible</td>
    </tr>
</table>