<div class="ce-blog-cards">
    <div class="ce-grid ce-blog-cards__wraper">
        <div class="ce-blog-card">
            <div class="ce-blog-card__wraper">
                <img src="{{ "images/dynamic-images/blog-1.png" | relURL }}" alt="" class="thumbnail">
                <div class="content">
                    <p class="category highlighted-primary">Watch And Learn</p>
                    <p class="title">Understanding the key features of your CIBIL Report </p>
                    <a href="#" class="cibil-link cibil-link-right-icon">Read Now</a>
                </div>
            </div>
        </div>
    </div>
</div>