<div class="ce-cards">
    <div class="ce-grid ce-cards__wraper">
        <div class="ce-card">
            <div class="ce-card__wraper">
                <div class="head">
                    <img src="{{ "images/static-images/faq-icon-1.svg" | relURL }}" alt="" class="icon">
                </div>
                <div class="content">
                    <p class="title body-medium">What is CIBIL Score and how to improve it?</p>
                    <p class="body">Basics about what CIBIL Score is and how you can improve it.</p>
                </div>
            </div>
        </div>
    </div>
</div>