
<div class="compare-offer-header" style="display: block;">
    <div class="page-width">
        <div class="compare-header-wrap">
            <a class="resetOffers cibil-link cibil-link-left-icon goback-icon underlined default-case sticky-head" onclick="resetCompare()">Go Back</a>
            <p class="text-uppercase">Compare Loan Offers</p>
        </div>
    </div>
</div>

{{if .offersData}}
    <div class="loan-offers-comparison">
        <div class="loan-offers-comparison__wraper">
            <table>
                <thead>
                    <tr class="offers-head">
                        <td></td>
                        {{range .offersData}}
                            <td>
                                <div class="wrap">
                                    <span class="company-logo">
                                        <img src="{{ .logo | relURL }}" alt="">
                                    </span>
                                    <p class="company-title">{{.name}}</p>
                                    <a class="cibil-button">VIEW OFFER</a>
                                </div>
                            </td>
                        {{end}}
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th>Tentative Credit Limit Offered</th>
                            {{range .offersData}}
                                <td>{{.limit_offered}}</td>
                            {{end}}
                        </tr>
                        
                        <tr>
                            <th>Monthly Interest Rate</th>
                            {{range .offersData}}
                                <td>{{.monthly_interest_rate}}</td>
                            {{end}}
                        </tr>

                        <tr>
                            <th>Annual Fees</th>
                            {{range .offersData}}
                                <td>{{.annual_fees}}</td>
                            {{end}}
                        </tr>
                        
                        <tr>
                            <th>Required Documents</th>
                            {{range .offersData}}
                                <td>
                                    <ul>
                                        {{range .required_documents}}
                                            <li>{{.}}</li>
                                        {{end}}
                                    </ul>
                                </td>
                            {{end}}
                        </tr>

                        <tr>
                            <th>Benefits</th>
                            {{range .offersData}}
                                <td>
                                    <ul>
                                        {{range .benefits}}
                                            <li>{{.}}</li>
                                        {{end}}
                                    </ul>
                                </td>
                            {{end}}
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
{{end}}
