<div class="credit-summary-ctas">
    <div class="page-width credit-summary-ctas__wraper">
        <p class="section-heading section-heading-small">{{.section_heading}}</p>
        <p class="subheading-light">( {{.last_refresh_prefix}} <b>{{.last_refresh_date}}</b> )</p>
        <div class="ctas-container">
            <div class="small-ctas">
                <div class="small-ctas__wraper">
                    <div class="summary-number-cta">
                        <p class="summary-number">7</p>
                        <p class="summary-title">TOTAL accounts</p>
                        <p class="summary-rating good">Looking good</p>
                        <p class="summary-details">Total number of your Credit Card and Loan accounts.</p>
                        <a href="#" class="cibil-link cibil-link-right-icon">View DETAILS</a>
                    </div>
                </div>
            </div>
            <div class="medium-ctas">

            </div>
        </div>
    </div>
</div>