<div class="faq-section">
  <div class="page-width faq-section__wraper">
    <p class="section-heading-1">{{ .section_heading }}</p>
    <div class="faq-group" id="accordion">
      {{ range .faq }}
        {{ if .heading }}
        <div class="faq">
          <div
            class="faq-heading {{ if eq .collapsed true }}show{{ end }}"
            id="heading{{ .unique_id }}"
          >
            <p
              class="faq-title"
              data-toggle="collapse"
              data-target="#collapse{{ .unique_id }}"
              aria-expanded="{{ if eq .collapsed true }}true{{ else }}false{{ end }}"
              aria-controls="collapse{{ .unique_id }}"
            >
              {{ .heading }}
            </p>
          </div>
          <div
            id="collapse{{ .unique_id }}"
            class="faq-collapse collapse {{ if eq .collapsed true }}show{{ end }}"
            aria-labelledby="heading{{ .unique_id }}"
            data-parent="#accordion"
          >
            <div class="faq-body faq-content">{{ .content | safeHTML }}</div>
          </div>
        </div>
        {{ end }}
      {{end}}
    </div>
  </div>
</div>
