{{ if .heading }}
    <div class="faq">
        <div class="faq-heading {{ if eq .collapsed true }}show{{ end }}" id="heading{{ .unique_id }}">
        <p
            class="faq-title"
            data-toggle="collapse"
            data-target="#collapse{{ .unique_id }}"
            aria-expanded="{{ if eq .collapsed true }}true{{ else }}false{{ end }}"
            aria-controls="collapse{{ .unique_id }}"
        >
        {{ .heading }}
        </p>
        </div>
        <div
        id="collapse{{ .unique_id }}"
        class="faq-collapse collapse {{ if eq .collapsed true }}show{{ end }}"
        aria-labelledby="heading{{ .unique_id }}"
        data-parent="#accordion"
        >
        <div class="faq-body faq-content">
            {{ .content }}
        </div>
        </div>
    </div>
{{ end }}

  <!-- <div class="faq">
    <div class="faq-heading show" id="headingOne">
      <p
        class="faq-title"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        What is the Alerts feature?
      </p>
    </div>

    <div
      id="collapseOne"
      class="faq-collapse collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Your CIBIL Score and Report may change whenever a credit institution
        accesses your report or submits new and/or updated data on the
        credit facilities you have availed. The new Alerts feature monitors
        your CIBIL Score and Report and sends you real-time email
        notifications that your CIBIL Score and Report has undergone a
        change.
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="faq-heading" id="headingTwo">
      <p
        class="faq-title collapsed"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        How does Alerts help me?
      </p>
    </div>
    <div
      id="collapseTwo"
      class="faq-collapse collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="faq-heading" id="headingThree">
      <p
        class="faq-title collapsed"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        When will I get an alert?
      </p>
    </div>
    <div
      id="collapseThree"
      class="faq-collapse collapse"
      aria-labelledby="headingThree"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="faq-heading" id="headingFour">
      <p
        class="faq-title collapsed"
        data-toggle="collapse"
        data-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        Where will the alert be delivered?
      </p>
    </div>
    <div
      id="collapseFour"
      class="faq-collapse collapse"
      aria-labelledby="headingFour"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="faq-heading" id="headingFive">
      <p
        class="faq-title collapsed"
        data-toggle="collapse"
        data-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        How frequently will I receive these alerts?
      </p>
    </div>
    <div
      id="collapseFive"
      class="faq-collapse collapse"
      aria-labelledby="headingFive"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="faq-heading" id="headingSix">
      <p
        class="faq-title collapsed"
        data-toggle="collapse"
        data-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix"
      >
        How can I get access to Alerts?
      </p>
    </div>
    <div
      id="collapseSix"
      class="faq-collapse collapse"
      aria-labelledby="headingSix"
      data-parent="#accordion"
    >
      <div class="faq-body faq-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </div>
    </div>
  </div> -->