<footer>
    <div class="page-width ">
        <p class="footer-text">© Copyright 2022 TransUnion CIBIL Limited (Formerly: Credit Information Bureau (India) Limited). All Rights Reserved.</p>
        <div class="footer-list">
            <a href="" class="footer-list-item">FAQs</a>
            <a href="" class="footer-list-item">Terms and Conditions</a>
            <a href="" class="footer-list-item">Privacy Policy</a>
            <a href="" class="footer-list-item">Raise a Dispute</a>
        </div>
    </div>
</footer>

<script src="{{"js/jquery.min.js" | relURL}}"></script>
<script src="{{"js/bootstrap.bundle.min.js" | relURL}}"></script>
<script src="{{"js/global.js" | relURL}}"></script>
<script src="{{"js/video.min.js" | relURL}}"></script>
<script src="{{"js/jquery.easypiechart.min.js" | relURL}}"></script>
<script src="{{"js/slick.min.js" | relURL}}"></script>
<script src="{{"js/scripts.js" | relURL}}"></script>
