<footer>
    <div class="page-width ">
        <p class="footer-text">© Copyright 2022 TransUnion CIBIL Limited (Formerly: Credit Information Bureau (India) Limited). All Rights Reserved.</p>
        <div class="footer-list">
            <a href="" class="footer-list-item">FAQs</a>
            <a href="" class="footer-list-item">Terms and Conditions</a>
            <a href="" class="footer-list-item">Privacy Policy</a>
            {{if eq .RelPermalink "/cibil-dashboard/overview_free/cibil-report/" }}<a href="" class="footer-list-item">Raise a Dispute</a>{{end}}
        </div>
    </div>
</footer>

<script src="{{"js/jquery.min.js" | relURL}}"></script>
<script src="{{"js/bootstrap.bundle.min.js" | relURL}}"></script>
<script src="{{"js/global.js" | relURL}}"></script>
<script src="{{"js/video.min.js" | relURL}}"></script>
<script src="{{"js/jquery.easypiechart.min.js" | relURL}}"></script>
<script src="{{"js/slick.min.js" | relURL}}"></script>
<script src="{{"js/scripts.js" | relURL}}"></script>

{{ if eq .RelPermalink "/cibil-dashboard/overview_free/" }}
<script>
    // video player
    var player = videojs("download-now-video", {
    fluid: true
    });

    $("#video-CTA-modal").on("show.bs.modal", function (e) {
    player.play("muted");
    player.muted(false);
    });

    $("#video-CTA-modal").on("hide.bs.modal", function (e) {
    player.pause();
    player.play("pause");
    player.muted(true);
    });
</script>
{{end}}
{{ if eq .RelPermalink "/cibil-dashboard/overview_free/alerts/" }}
<script>
    // video player
    var player = videojs("faqVideo", {
    fluid: true
    });

    $("#faqVideoPopup1").on("show.bs.modal", function (e) {
    player.play("muted");
    player.muted(false);
    });

    $("#faqVideoPopup1").on("hide.bs.modal", function (e) {
    player.pause();
    player.play("pause");
    player.muted(true);
    });
</script>
{{end}}