<div class="banner-section">
  <div class="page-width">
    <div class="banner-section__wraper">
      <div class="left-side">
        <p class="username banner-heading">Hi Rahul,</p>
        <p class="banner-heading">
            <span class="highlight">321 days</span> <span class="full-width">till your next refresh.</span>
        </p>
        <p class="banner-heading">
          <span class="highlight">Upgrade now</span> <span class="full-width">and always be credit-ready.</span>
      </p>
      </div>
      <div class="right-side">
        <div class="img-container">
          <img src="{{ "images/dynamic-images/banner-image.svg" | relURL }}"
          alt="">
        </div>
      </div>
    </div>
  </div>
</div>
