<div class="nav-list">
    <!-- {{ partial "account-upgrade-card"}} -->
    <!-- {{ .RelPermalink }} -->
    <div class='overview-list {{ if eq .RelPermalink "/cibil-dashboard/overview_free/" }}overview-toggle active opened{{end}}'>
        <div class="has-sublist">
            <a href="/cibil-dashboard/overview_free/" class="nav-item overview-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/home-icon"}}</span><span>Overview</span></a><span class="toggle-button">{{ partial "icons/arrow-white"}}</span>
        </div>
        <span class="sublist">
            <div class="sublist__wraper">
                <a href="{{if ne .RelPermalink "/cibil-dashboard/overview_free/" }}/cibil-dashboard/overview_free/{{end}}#cibil-score" class="sublist-item">CIBIL Score & Report</a>
                <a href="{{if ne .RelPermalink "/cibil-dashboard/overview_free/" }}/cibil-dashboard/overview_free/{{end}}#credit-summary" class="sublist-item">Credit Summary</a>
                <a href="{{if ne .RelPermalink "/cibil-dashboard/overview_free/" }}/cibil-dashboard/overview_free/{{end}}#cibil-score-history" class="sublist-item">CIBIL Score History</a>
                <a href="" class="sublist-item">Social Comparison</a>
                <a href="{{if ne .RelPermalink "/cibil-dashboard/overview_free/" }}/cibil-dashboard/overview_free/{{end}}#loan-offers" class="sublist-item">Loan Offers</a>
            </div>
        </span>
    </div>
    <a href="/cibil-dashboard/overview_free/cibil-report/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/cibil-report/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/report-icon"}}</span><span>CIBIL Report</span></a>
    <a href="/cibil-dashboard/overview_free/loan-offers/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/loan-offers/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/offers-icon"}}</span><span>Loan Offers</span><span class="notify-circle"><span>15</span></span></a>
    <!-- <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/repayment-icon"}}</span><span>Repayment Option</span></a> -->
    <a href="/cibil-dashboard/overview_free/alerts/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/alerts/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/alerts-icon"}}</span><span>Alerts</span>{{partial "upgrade-plan-tooltip"}}</a>
    <a href="/cibil-dashboard/overview_free/score-simulator/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/score-simulator/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/simulator-icon"}}</span><span>Score Simulator</span>{{partial "upgrade-plan-tooltip"}}</a>
    <!-- <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/education-icon"}}</span><span>Credit Education</span></a> -->
    <a href="/cibil-dashboard/overview_free/upgrade-plan/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/upgrade-plan/"  }}active{{end}}"><span class="svg-icon-box">{{partial "icons/upgrade-icon"}}</span><span>Upgrade My Plan</span></a>
</div>