<div class="nav-list">
    {{ partial "account-upgrade-card"}}
    <!-- {{ .RelPermalink }} -->
    <div class="overview-list active opened">
        <a href="" class="nav-item overview-item"><span class="svg-icon-box">{{partial "icons/home-icon"}}</span><span>Overview</span>{{ partial "icons/arrow-white"}}</a>
        <span class="sublist">
            <a href="" class="sublist-item">CIBIL Report</a>
            <a href="" class="sublist-item">Credit Summary</a>
            <a href="" class="sublist-item">CIBIL Score History</a>
            <a href="" class="sublist-item">Social Comparision</a>
            <a href="" class="sublist-item">Loan Offers</a>
        </span>
    </div>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/report-icon"}}</span><span>CIBIL Report</span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/offers-icon"}}</span><span>Loan Offers</span><span class="notify-circle"><span>24</span></span></a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/repayment-icon"}}</span><span>Repayment Option</span></a>
    <a href="/cibil-dashboard/overview_free/alerts/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/alerts/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/alerts-icon"}}</span><span>Alerts</span>{{partial "upgrade-plan-tooltip"}}</a>
    <a href="/cibil-dashboard/overview_free/score-simulator/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/score-simulator/" }}active{{end}}"><span class="svg-icon-box">{{partial "icons/simulator-icon"}}</span><span>Score Simulator</span>{{partial "upgrade-plan-tooltip"}}</a>
    <a href="" class="nav-item"><span class="svg-icon-box">{{partial "icons/education-icon"}}</span><span>Credit Education</span></a>
    <a href="/cibil-dashboard/overview_free/upgrade-plan/" class="nav-item {{ if eq .RelPermalink "/cibil-dashboard/overview_free/upgrade-plan/"  }}active{{end}}"><span class="svg-icon-box">{{partial "icons/upgrade-icon"}}</span><span>Upgrade My Plan</span></a>
</div>