<div class="report-summary-container">
    <div class="">
        <p class="summary-title">Upgrade now to see the current details of your CIBIL Score & Report</p>
        <div class="summary-pointers">
            <p><img src="/cibil-dashboard/images/static-images/credit-health.svg" alt=""><span>Get an overview of your credit health, credit worthyness and credit utilization.</span></p>
            <p><img src="/cibil-dashboard/images/static-images/job-profile.svg" alt=""><span>Get an overview of your job profile and financials as reported by lenders.</span></p>
            <p><img src="/cibil-dashboard/images/static-images/payment-history.svg" alt=""><span>See all the credit facilities availed, enquiries made and payment history.</span></p>
        </div>
        <a href="/cibil-dashboard/overview_free/upgrade-plan" class="cibil-button">Upgrade Now</a>
    </div>
    <div class="">
        <img src="/cibil-dashboard/images/static-images/report-summary-cover.png" alt="">
    </div>
</div>