<div class="revert-bar">
    <div class="page-width revert-bar__wraper">
        <div class="revert-bar__body">
            <img src="{{ "images/static-images/revert-icon.svg" | relURL }}" alt="" class="bar-icon">
            <p>Welcome! We have upgraded to a new version of CIBIL Dashboard. To continue <a href="/cibil-dashboard/overview_free/" class="cibil-link inherit-font"> Click Here</a> or <a href="#" class="cibil-link inherit-font">Switch Back</a> to the old view.</p>
        </div>
    </div>
</div>

<!-- Revert Popup -->
<div class="modal fade" id="revertToOld" tabindex="-1" role="dialog" aria-labelledby="revertToOld-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="{{ "images/static-images/close-icon.svg" | relURL }}" alt=""></span>
          </button>
        </div>
        <div class="modal-body">
            <img class="hide-sm-down banner" src="{{ "images/static-images/old-to-new.svg" | relURL }}" alt="">
            <img class="hide-md-up banner" src="{{ "images/static-images/old-to-new-mob.svg" | relURL }}" alt="">
            <div class="details">
                <div class="cibil-scrollbar details__wraper">
                    <p class="heading">We’ve upgraded your experience </p>
                    <div class="content">
                        <b>New CIBIL Score Gauge</b><br><br>
                        <ul class="cibil-list">
                            <li>Now it’s easier than ever before to view your CIBIL Score and quickly get an assessment of what is your score.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</li> 
                            <li>When an unknown printer took a galley of type and scrambled it to make a type specimen</li>
                            <li>It was popularised in the 1960s with the release of Letraset sheets containing </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <a data-dismiss="modal" aria-label="Close" class="cibil-button">CONTINUE WITH NEW DASHBOARD</a>
                <a href="#" class="cibil-link cibil-link-left-icon">TAKE ME BACK TO OLD DASHBOARD</a>
            </div>
        </div>
      </div>
    </div>
  </div>