<div class="page-width">
    <div class="timer-banner">
        <div class="timer-banner__wraper">
            <div class="left-panel">
                <p class="banner-heading">Renew now to continue using CIBIL features</p>
                <p class="banner-subheading">Renew your subscription plan right now to ensure you stay connected to your credit profile with your CIBIL Score and Report</p>
                <a href="upgrade-plan" class="cibil-button">RENEW NOW</a>
            </div>
            <div class="right-panel">
                
            </div>
        </div>
    </div>
</div>