<div class="upgrade-plans">
    <div class="page-width upgrade-plans__wraper">
        {{ range .upgradePlans }}
        <div class="hide-md-down plan {{ if eq .recommended true }}recommended{{ end }}">
            <div class="plan__wraper">
                {{ if eq .most_popular true }}
                <p class="popular-tag"><img src="{{ "images/static-images/star-icon.svg" | relURL }}" alt="" class="icon"> Most Popular</p>
                {{ end }}
                <div class="plan-inner-wraper">
                    <div class="plan-header">
                        <p class="plan-name">{{ .plan_name }}</p>
                        <p class="plan-duration">{{ .plan_duration }}</p>
                        <div class="inline-wraper"><p class="discount-price">{{ .discount_price }}{{ if .discount }}<span class="discount">Save {{ .discount }}</span>{{ end }}</p></div>
                        <div class="inline-wraper"><p class="plan-price {{ if not .price }}empty-height{{ end }}">{{ .price }}</p></div>
                    </div>
                    {{ if .upgrade_link }}
                    <a href="{{ .upgrade_link }}" class="cibil-button {{ if eq .recommended false }}cibil-button-border{{ end }}">{{ .upgrade_button_text }}</a>
                    {{ end }}
                    {{ if .features }}
                    <ul class="plan-features">
                        {{ range .features }}
                        <li class="feature"><img src="{{ .icon | relURL }}" alt="" class="icon">{{ .content }}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>