<div class="upgrade-plans">
    <div class="page-width upgrade-plans__wraper">
        <div class="hide-md-down plan recommended">
            <div class="plan__wraper">
                <p class="popular-tag"><img src="{{ "images/static-images/star-icon.svg" | relURL }}" alt="" class="icon"> Most Popular</p>
                <div class="plan-inner-wraper">
                    <p class="plan-name">Premium</p>
                    <p class="plan-duration">12 Months</p>
                    <div class="inline-wraper"><p class="discount-price">₹1200 <span class="discount">Save 81%</span></p></div>
                    <div class="inline-wraper"><p class="plan-price">₹6600</p></div>
                    <a href="" class="cibil-button">UPGRADE NOW</a>
                    <ul class="plan-features">
                        <li class="feature"><img src="{{ "images/static-images/dashboard-icon.svg" | relURL }}" alt="" class="icon">Unlimited access to your CIBIL dashboard</li>
                        <li class="feature"><img src="{{ "images/static-images/simulator-icon.svg" | relURL }}" alt="" class="icon">Make the right credit decisions with Score Simulator</li>
                        <li class="feature"><img src="{{ "images/static-images/offers-icon.svg" | relURL }}" alt="" class="icon">Get personalized loan offers </li>
                        <li class="feature"><img src="{{ "images/static-images/alerts-icon-blue.svg" | relURL }}" alt="" class="icon">24x7 credit monitoring with CIBIL Alerts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>