.section-heading {
  color: $primary-blue;
  font-weight: $intro-bold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  &-1 {
    font-weight: $intro-bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  &-small {
    font-size: 18px;
    line-height: 18px;
    display: inline-flex;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 16px;
    &-1 {
      color: $primary-blue;
      font-size: 16px;
      line-height: 16px;
    }
  }
  @include media-breakpoint-down(md) {
    &-small {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
.banner-heading {
  font-weight: $intro-regular;
  font-size: 24px;
  line-height: 30px;
}
.subheading {
  &-light {
    font-size: 16px;
    line-height: 16px;
    color: $grey-1;
    font-weight: 600;
  }
}
.primary-link {
  @include intro-book-16;
  text-decoration-line: underline !important;
  color: $primary-blue !important;
  cursor: pointer;
}
.cibil-button {
  height: 50px;
  background-color: $primary-orange;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 19px 32px;
  color: $black !important;
  text-decoration: none !important;
  font-weight: $intro-bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  outline: none !important;
  cursor: pointer;
  &-border {
    background-color: $light;
    border: 1px solid $primary-orange;
  }
  &-yellow {
    background-color: $primary-yellow !important;
    font-weight: $intro-regular;
  }
}
.highlight {
  position: relative;
  display: inline-flex;
  justify-content: center;
  z-index: 1;
  &:after {
    content: "";
    height: 10px;
    width: 100%;
    background-color: $primary-yellow;
    position: absolute;
    bottom: 9px;
    z-index: -1;
  }
  &-text-blue {
    color: $primary-blue;
  }
  &-text-black {
    color: $black;
  }
  @include media-breakpoint-down(sm) {
    &:after {
      bottom: 4px;
      height: 7px;
    }
  }
}

.cibil-link {
  font-weight: $intro-bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $black !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  &:before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $black;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  &-right-icon {
    padding-right: 23px;
    &:after {
      content: "";
      width: 13px;
      height: 12px;
      background-image: url(/cibil-dashboard/images/static-images/arrow-right-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
    }
    &:before {
      max-width: calc(100% - 23px);
    }
  }

  @include media-breakpoint-down(sm) {
    &-right-icon {
      padding-right: 20px;
      &:after {
        width: 14px;
      }
      &:before {
        max-width: calc(100% - 20px);
      }
    }
  }
}
.cibil-link-button {
  font-weight: $intro-bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $black !important;
  text-decoration: none !important;
  span {
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      width: 18px;
      height: 18px;
      background-image: url(/cibil-dashboard/images/static-images/edit-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0px;
    }
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $black;
      position: absolute;
      bottom: 2px;
      max-width: calc(100% - 27px);
      right: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 28px;
    height: 44px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 0.4px solid $grey-1;
    border-radius: 8px;
    span {
      &:before {
        bottom: 6px;
        max-width: calc(100% - 28px);
      }
    }
  }
}

.group {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  position: relative;

  &:nth-of-type(odd) {
    margin-right: 20px;
  }
  label {
    @include intro-regular-16;
    color: $dark;
    margin-bottom: 2px;
  }
  input,
  .custom-select-value {
    @include intro-book-16;
    color: $dark;
    background: $light;
    border: 1px solid $grey-1 !important;
    padding: 12px 16px 12px;
    color: $dark;
    display: block;
    position: relative;
    width: 100%;
    &.input-currency {
      padding-left: 30px;
    }
  }
  .custom-select-value {
    &::after {
      content: "";
      width: 11px;
      height: 6px;
      background-image: url(/cibil-dashboard/images/static-images/grey-arrow.svg);
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .custom-select-input {
    position: relative;
    cursor: pointer;
  }
  .custom-select-options {
    display: none;
    background: $light;
    border: 1px solid $grey-1;
    border-top: 0;
    position: absolute;
    width: 100% !important;
    opacity: 1 !important;
    top: 100%;
    left: 0;
    z-index: 5;
    span {
      display: block;
      padding: 5px 16px;
      cursor: pointer;
      font-weight: $intro-regular;
      &:hover,
      &.selected {
        font-weight: $intro-bold;
        background-color: $light-blue-4;
      }
    }
  }
  .message {
    @include intro-regular-14;
    color: $secondary-red;
  }
  &.long-radio {
    background: $light;
    border-radius: 6px;
    margin-bottom: 22px;
    label {
      padding: 16px 10px 14px 40px;
      position: relative;
      cursor: pointer;
      @include intro-book-14;
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid $black;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
    input {
      display: none;
    }
    input[type="radio"]:checked + label {
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $primary-blue;
        position: absolute;
        top: 50%;
        left: 19px;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.input-holder {
  position: relative;
}
.currency {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $grey;
  position: absolute;
  top: 53%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;
}

.custom-radio-input {
  input[type="radio"] {
    opacity: 0;
    width: 0;
    display: none;
    &:checked + label {
      background-color: $primary-blue;
      border-color: $primary-blue;
      color: $light;
    }
  }
  label {
    padding: 12px 22px 12px 22px;
    border: 1px solid $grey-1;
    color: $grey;
    margin-bottom: 25px;
    cursor: pointer;
  }
}
@include media-breakpoint-down(sm) {
  .group {
    width: 100%;
    margin-right: 0 !important;
    max-width: 100%;
    margin-bottom: 20px;
    input,
    .custom-select-value {
      width: 100%;
    }
  }
}

/* tooltip */
.cibil-tooltip {
  height: 16px;
  width: 16px;
  display: inline-flex;
  background-image: url(/cibil-dashboard/images/static-images/tooltip-question.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 4px;
  margin-bottom: -2px;
  &-info {
    width: 23px;
    height: 23px;
    background-image: url(/cibil-dashboard/images/static-images/tooltip-info.svg);
    margin-bottom: -5px;
  }
}

/* tooltip box */
.tooltip-box {
  max-width: 266px;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 9;
  &.show,
  &.hide {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  &.hide {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    display: none;
  }
  &__wraper {
    background: $black;
    max-width: 405px;
    border-radius: 6px;
    padding: 10px 15px 6px 12px;
    font-family: $intro-book;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $light;
    position: relative;
    z-index: 9;
    &:before {
      content: "";
      background-color: $black;
      width: 26px;
      height: 26px;
      position: absolute;
      top: -7px;
      left: 10px;
      z-index: -1;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    p {
      margin-bottom: 0px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__wraper {
      max-width: calc(100% - 20px);
    }
    &-right {
      &.show {
        right: 0;
        left: inherit !important;
        .tooltip-box__wraper {
          &:before {
            left: inherit;
            right: 5px;
          }
        }
      }
    }
  }
}

.cibil-link-dark {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  color: $black !important;
  display: flex;
  cursor: pointer;
}

.showAllLink{
  @include intro-regular-16;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  text-align: center;
  svg{
    margin-left: 10px;
  }
}

//slick
.slick-dots {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  li {
    margin-bottom: 0px;
    line-height: 0;
    &:not(:last-child) {
      margin-right: 10px;
    }
    button {
      font-size: 0px;
      padding: 0;
      margin: 0;
      width: 10px;
      height: 10px;
      background: $light-blue-6;
      border: none;
      border-radius: 30px;
      transition: all 0.2s ease-in-out;
    }
    &.slick-active {
      button {
        background: $primary-blue;
      }
    }
  }
  @include media-breakpoint-down(sm){
    li{
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

// popup
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $light;
  border: 1px solid $light-blue-7;
  border-radius: 6px;
  width: 80%;
  max-width: 840px;
  max-height: 90vh;
  overflow-y: scroll;
  z-index: 999;

  .popup-hedear {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 30px 20px;
    border-bottom: 1px solid $light-blue-7;
    position: relative;
    color: $primary-blue;
    text-transform: uppercase;
  }
  .popup-body {
    padding: 30px;
    @include intro-book-16;
    .content-head{
      font-weight: $intro-regular;
      margin-bottom: 10px;
    }
    .content-text{
      margin-bottom: 30px;
    }
  }

  .close-popup{
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    z-index: 2;
  }
  .success-body {
    display: none;
    padding: 60px 20px 80px;
    text-align: center;
    svg{
      margin-bottom: 40px;
    }
    .content-head{
      font-weight: $intro-regular;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -0.01em;
      color: $black;
       margin-bottom: 20px;
    }
    .content-text{
      font-weight: $intro-regular;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: $grey;
      max-width: 420px;
      margin: auto;
    }
  }
  &.success{
    .success-body{
      display: block;
    }
    .popup-body, .popup-hedear{
      display: none;
    }
  }

  @include media-breakpoint-down(sm){
    .popup-hedear, .popup-body{
      padding: 20px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
.popup-overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  z-index: 998;
}
.popup.opened{
  display: block;
  & + .popup-overlay{
    display: block;
  }
}
.disabled{
  pointer-events: none !important;
  background-color: $border-color-4 !important;
  color: $light !important;
}