.cibil-alerts-section {
  background-color: $light-blue;
  padding-top: 60px;
  padding-bottom: 60px;
  .section-heading {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  @include media-breakpoint-up (lg){
    .section-heading{
      text-align: left;
    }
  }
  @include media-breakpoint-down(md) {
    background-color: $light;
    padding-top: 30px;
    padding-bottom: 40px;
    .section-heading {
      margin-bottom: 47px;
    }
  }
}

.faq-section {
  padding-top: 60px;
  padding-bottom: 60px;
  &__wraper {
    .section-heading-1 {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(md) {
    background-color: $light-blue-2;
    padding-top: 30px;
    padding-bottom: 14px;
    .section-heading-1 {
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
}
